[submodule "modules/server"]
	path = modules/server
	url = https://github.com/rhivadotfun/server.git
[submodule "apps/www/public/static/charting_library"]
	path = apps/www/public/static/charting_library
	url = https://github.com/rhivadotfun/tradeview.git
[submodule "modules/terminal-trading-backend"]
	path = modules/terminal-trading-backend
	url = git@github.com:rhivadotfun/terminal-trading-backend.git
